<% @links.each do |link| %>
<div>
  <h3><%= link_to( link.title, link_path(link))%>
    <br>
    <small class="author"> Submitted <%= time_ago_in_words(link.updated_at) %> by <%=link.user.email %></small>
  </h3>
  <hr>
</div>
<% end %>
